if SHIELD_TRIGGER_POINT_LEFT

config ZMK_KEYBOARD_NAME
    default "Trigger Point"

config ZMK_SPLIT_ROLE_CENTRAL
    default y

config ZMK_USB
    def_bool y
config USB_DEVICE_STACK
    def_bool y

endif   # Left side

if SHIELD_TRIGGER_POINT_RIGHT

config ZMK_SPLIT_ROLE_PERIPHERAL
    def_bool y

config ZMK_USB
    def_bool n

config USB_DEVICE_STACK
    def_bool n

endif   # Right side

if SHIELD_TRIGGER_POINT_LEFT || SHIELD_TRIGGER_POINT_RIGHT

config ZMK_SPLIT
    default y


endif   # Left || Right


