#include <dt-bindings/zmk/matrix_transform.h>
#include "trigger_point-layouts.dtsi"
#include "trigger_point.dtsi"

/ {
    chosen {
        zmk,kscan = &mock_kscan;
		zmk,physical-layout = &physical_layout_0;
    };

    mock_kscan: mock_kscan_0 {
        compatible = "zmk,kscan-mock";
        columns = <0>;
        rows = <0>;
        events = <0>;
    };
};
