#include <physical_layouts.dtsi>

 / {
    physical_layout0: physical_layout_0 {
        compatible = "zmk,physical-layout";
        display-name = "default_transform";

        kscan = <KSCAN_PHANDLES>;
        transform = <&matrix_transform0>;

        keys
            = <&key_physical_attrs 100 100  500   25     0     0     0>
            , <&key_physical_attrs 100 100  400   12     0     0     0>
            , <&key_physical_attrs 100 100  300    0     0     0     0>
            , <&key_physical_attrs 100 100  200   12     0     0     0>
            , <&key_physical_attrs 100 100  100   38     0     0     0>
            , <&key_physical_attrs 100 100    0   38     0     0     0>
            , <&key_physical_attrs 100 100  650    0     0   (0 - 50)   275>
            , <&key_physical_attrs 100 100  950    0     0  1175  1200>
            , <&key_physical_attrs 100 100 1100   25     0     0     0>
            , <&key_physical_attrs 100 100 1200   12     0     0     0>
            , <&key_physical_attrs 100 100 1300    0     0     0     0>
            , <&key_physical_attrs 100 100 1400   12     0     0     0>
            , <&key_physical_attrs 100 100 1500   38     0     0     0>
            , <&key_physical_attrs 100 100 1600   38     0     0     0>
            , <&key_physical_attrs 100 100  500  125     0     0     0>
            , <&key_physical_attrs 100 100  400  112     0     0     0>
            , <&key_physical_attrs 100 100  300  100     0     0     0>
            , <&key_physical_attrs 100 100  200  112     0     0     0>
            , <&key_physical_attrs 100 100  100  138     0     0     0>
            , <&key_physical_attrs 100 100    0  138     0     0     0>
            , <&key_physical_attrs 100 100 1100  125     0     0     0>
            , <&key_physical_attrs 100 100 1200  112     0     0     0>
            , <&key_physical_attrs 100 100 1300  100     0     0     0>
            , <&key_physical_attrs 100 100 1400  112     0     0     0>
            , <&key_physical_attrs 100 100 1500  138     0     0     0>
            , <&key_physical_attrs 100 100 1600  138     0     0     0>
            , <&key_physical_attrs 100 100    0  238     0     0     0>
            , <&key_physical_attrs 100 100  100  238     0     0     0>
            , <&key_physical_attrs 100 100  200  212     0     0     0>
            , <&key_physical_attrs 100 100  300  200     0     0     0>
            , <&key_physical_attrs 100 100  400  212     0     0     0>
            , <&key_physical_attrs 100 100  500  225     0     0     0>
            , <&key_physical_attrs 100 100 1100  225     0     0     0>
            , <&key_physical_attrs 100 100 1200  212     0     0     0>
            , <&key_physical_attrs 100 100 1300  200     0     0     0>
            , <&key_physical_attrs 100 100 1400  212     0     0     0>
            , <&key_physical_attrs 100 100 1500  238     0     0     0>
            , <&key_physical_attrs 100 100 1600  238     0     0     0>
            , <&key_physical_attrs 100 100  500  325     0     0     0>
            , <&key_physical_attrs 100 100  400  312     0     0     0>
            , <&key_physical_attrs 100 100  300  300     0     0     0>
            , <&key_physical_attrs 100 100  200  312     0     0     0>
            , <&key_physical_attrs 100 100  100  338     0     0     0>
            , <&key_physical_attrs 100 100    0  338     0     0     0>
            , <&key_physical_attrs 100 100  650    0  3000   (0 - 50)   275>
            , <&key_physical_attrs 100 100 1300  350 (0 - 3000)  1275  1100>
            , <&key_physical_attrs 100 100 1100  325     0     0     0>
            , <&key_physical_attrs 100 100 1200  312     0     0     0>
            , <&key_physical_attrs 100 100 1300  300     0     0     0>
            , <&key_physical_attrs 100 100 1400  312     0     0     0>
            , <&key_physical_attrs 100 100 1500  338     0     0     0>
            , <&key_physical_attrs 100 100 1600  338     0     0     0>
            , <&key_physical_attrs 100 100  750  100  3000   (0 - 50)   275>
            , <&key_physical_attrs 100 100  650  100  3000   (0 - 50)   275>
            , <&key_physical_attrs 100 100  500  450     0     0     0>
            , <&key_physical_attrs 100 100  400  450     0     0     0>
            , <&key_physical_attrs 100 100  300  450     0     0     0>
            , <&key_physical_attrs 100 100  200  450     0     0     0>
            , <&key_physical_attrs 100 100 1200  450 (0 - 3000)  1275  1100>
            , <&key_physical_attrs 100 100 1300  450 (0 - 3000)  1275  1100>
            , <&key_physical_attrs 100 100 1100  450     0     0     0>
            , <&key_physical_attrs 100 100 1200  450     0     0     0>
            , <&key_physical_attrs 100 100 1300  450     0     0     0>
            , <&key_physical_attrs 100 100 1400  450     0     0     0>
            ;
    };
};
