#include <zephyr/dt-bindings/gpio/gpio.h>
#define KSCAN_PHANDLES &kscan_mx_right &kscan_direct_right
#include "trigger_point-layouts.dtsi"

 / {
    chosen {
        zmk,kscan = <&kscan_mx_right &kscan_direct_right>;
        zmk,matrix-transform = &matrix_transform0;
        zmk,physical-layout = &physical_layout0;
    };

    /* Matrix (same wiring order as left) */
    kscan_mx_right: kscan_mx_right {
        compatible = "zmk,kscan-gpio-matrix";
        diode-direction = "col2row";

        row-gpios = <&gpio0 19 GPIO_ACTIVE_LOW>, /* D5  */
                    <&gpio0 8  GPIO_ACTIVE_LOW>, /* D8  */
                    <&gpio0 7  GPIO_ACTIVE_LOW>, /* D7  */
                    <&gpio0 6  GPIO_ACTIVE_LOW>, /* D6  */
                    <&gpio0 5  GPIO_ACTIVE_LOW>; /* D19 */

        col-gpios = <&gpio0 18 GPIO_ACTIVE_LOW>, /* D18 */
                    <&gpio0 17 GPIO_ACTIVE_LOW>, /* D17 */
                    <&gpio0 15 GPIO_ACTIVE_LOW>, /* D15 */
                    <&gpio0 14 GPIO_ACTIVE_LOW>, /* D14 */
                    <&gpio0 16 GPIO_ACTIVE_LOW>, /* D16 */
                    <&gpio0 10 GPIO_ACTIVE_LOW>; /* D10 */
    };

    /* Direct inputs on RIGHT:
       Encoder push on D4 only (A/B use D1/D20 below).
       If you also need a separate thumb/screen button here, add more pins.
    */
    kscan_direct_right: kscan_direct_right {
        compatible = "zmk,kscan-gpio-direct";
        input-gpios = <&gpio0 4 GPIO_ACTIVE_LOW>;  /* D4  Encoder button */
    };

    /* Rotary encoder (potentiometer-style EC11): A=D1, B=D20 */
    encoder0: encoder_0 {
        compatible = "alps,ec11";
        a-gpios = <&gpio0 1 GPIO_ACTIVE_LOW>;   /* D1 */
        b-gpios = <&gpio0 20 GPIO_ACTIVE_LOW>;  /* D20 */
        resolution = <4>;
        label = "ENC_R";
    };
};

/* OLED on I2C: SCL=D2, SDA=D3 */
&i2c0 {
    status = "okay";
    scl-pin = <2>;   /* D2 */
    sda-pin = <3>;   /* D3 */

    ssd1306_right: ssd1306@3c {
        compatible = "solomon,ssd1306fb";
        reg = <0x3c>;
        label = "OLED_R";
    };
}
