#include <dt-bindings/gpio/gpio.h>

&{/} {
	chosen {
		zmk,kscan = &kscan0;
	};

	kscan_right: kscan_right {
		compatible = "zmk,kscan-gpio-matrix";
		wakeup-source;
		diode-direction = "col2row";

		row-gpios = <&pro_micro 5 (GPIO_ACTIVE_LOW | GPIO_PULL_UP)>,
		            <&pro_micro 6 (GPIO_ACTIVE_LOW | GPIO_PULL_UP)>,
		            <&pro_micro 7 (GPIO_ACTIVE_LOW | GPIO_PULL_UP)>,
		            <&pro_micro 8 (GPIO_ACTIVE_LOW | GPIO_PULL_UP)>,
		            <&pro_micro 9 (GPIO_ACTIVE_LOW | GPIO_PULL_UP)>;

		col-gpios = <&pro_micro 19 GPIO_ACTIVE_LOW>,
		            <&pro_micro 18 GPIO_ACTIVE_LOW>,
		            <&pro_micro 15 GPIO_ACTIVE_LOW>,
		            <&pro_micro 14 GPIO_ACTIVE_LOW>,
		            <&pro_micro 16 GPIO_ACTIVE_LOW>,
                    <&pro_micro 10 GPIO_ACTIVE_LOW>;
	};

	/* Three direct keys for column 6 at rows 0,3,4 */
	screen_btn: screen_btn {
		compatible = "zmk,kscan-gpio-direct";
		input-gpios = <&pro_micro 1 (GPIO_ACTIVE_LOW | GPIO_PULL_UP)>;
	};

	thumb_btn: thumb_btn {
		compatible = "zmk,kscan-gpio-direct";
		input-gpios = <&pro_micro 0 (GPIO_ACTIVE_LOW | GPIO_PULL_UP)>;
	};


	/* Composite scanner exposes one 5x14 matrix to match your keymap width */
	kscan0: kscan_composite {
		compatible = "zmk,kscan-composite";
		rows = <5>;
		columns = <14>;
		wakeup-source;

		right   { kscan = <&kscan_right>; row-offset = <0>; col-offset = <8>; };
		screen  { kscan = <&screen_btn>;   row-offset = <0>; col-offset = <7>; };
		thumb   { kscan = <&thumb_btn>;   row-offset = <3>; col-offset = <7>; };
		
	};

};

