/ {
  keymap {
    compatible = "zmk,keymap";

    default_layer {
      bindings = <
        /* Row 0: L6 + R6 (12) */
        &kp Q      &kp W        &kp E        &kp R        &kp T        &kp Y
        &kp U      &kp I        &kp O        &kp P        &kp LEFT_BRACKET &kp RIGHT_BRACKET

        /* Row 1 (12) */
        &kp A      &kp S        &kp D        &kp F        &kp G        &kp H
        &kp J      &kp K        &kp L        &kp SEMICOLON &kp QUOTE     &kp BACKSLASH

        /* Row 2 (12) */
        &kp Z      &kp X        &kp C        &kp V        &kp B        &kp N
        &kp M      &kp COMMA    &kp DOT      &kp SLASH    &kp MINUS     &kp EQUAL

        /* Row 3 (12) */
        &kp LCTRL  &kp LALT     &kp LGUI     &kp SPACE    &kp ESC       &kp TAB
        &kp RET    &kp BACKSPACE &kp DELETE  &kp RALT     &kp RCTRL     &kp RSHIFT

        /* Row 4 (12) */
        &kp LSHIFT &kp LGUI     &kp LALT     &kp BACKSPACE &kp RET      &kp DELETE
        &kp ESC    &kp DELETE   &kp CAPSLOCK &kp SPACE     &kp RET      &kp INS

        /* Direct inputs 60..63 (4) */
        &kp SPACE      /* LThumb D0  */
        &kp ESC        /* LScreen D1 */
        &kp RET        /* LPotBtn D4 */
        &kp MUTE       /* REncBtn D4 */
      >;
    };

    /* Right-side encoder: clockwise = volume up, counter = volume down */
    enc_right: encoder_0 { bindings = <&inc_dec_kp C_VOLUME_UP C_VOLUME_DOWN>; };
    enc_left:  encoder_1 { bindings = <&inc_dec_kp C_VOLUME_UP C_VOLUME_DOWN>; };
  };
};
