#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>

&{/} {
  keymap {
    compatible = "zmk,keymap";

    default_layer {
      bindings = <
        /* row 0 */ &kp A &kp A &kp A &kp A &kp A &kp A   &kp B &kp B &kp B &kp B &kp B &kp B
        /* row 1 */ &kp A &kp A &kp A &kp A &kp A &kp A   &kp B &kp B &kp B &kp B &kp B &kp B
        /* row 2 */ &kp A &kp A &kp A &kp A &kp A &kp A   &kp B &kp B &kp B &kp B &kp B &kp B
        /* row 3 */ &kp A &kp A &kp A &kp A &kp A &kp A   &kp B &kp B &kp B &kp B &kp B &kp B
        /* row 4 */ &kp A &kp A &kp A &kp A &kp A &kp A   &kp B &kp B &kp B &kp B &kp B &kp B
      >;
    };
  };
};
