#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>

 / {
   keymap {
     compatible = "zmk,keymap";

     default_layer {
       /* Only one key does anything: row 0, col 0 = 'A'. Everything else transparent. */
       bindings = <
         &kp A   &trans &trans &trans &trans &trans   &trans &trans &trans &trans &trans &trans
         &trans  &trans &trans &trans &trans &trans   &trans &trans &trans &trans &trans &trans
         &trans  &trans &trans &trans &trans &trans   &trans &trans &trans &trans &trans &trans
         &trans  &trans &trans &trans &trans &trans   &trans &trans &trans &trans &trans &trans
         &trans  &trans &trans &trans &trans &trans   &trans &trans &trans &trans &trans &trans
       >;
     };
   };
 };
